.card {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
  }

  .image {
    width: 75%;
    padding: 20px 12px;
    place-self: center;
    background-position: center;
    background-size: cover;
  }

  &-baby-name {
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-size: 32px;
    font-family: PassionOne-Regular, Arial, sans-serif;
  }

  &-complement {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
}
